.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%); /* This centers it horizontally */
  width:auto;
  padding: 10px 20px;
  transition: top 0.3s ease-in-out ; /* Slower transition */
  z-index: 1000; /* Ensures it's above other elements */
}

.navbar.hidden{
  transform: translate(-50%, -100%); /* Move navbar out of view */
}
  
.navbar-container {
  display: flex;
  align-items: center;
  gap: 32px;
  background: #1b1a1a;
  padding: 16px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.nav-home{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: border 0.3s ease;
}

.nav-home:hover {
  border: 2px solid #6F53E8; /* Or whatever color you prefer */
}
  
.nav-home img {
  width: 20px;
  height: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #8f9edc; /* Accent color */
}

.nav-home{
  margin: 0;

}